<section class="product">
  <p class="product__nav">
    <a class="back">Volver</a> | <a class="section">Electronicos</a> >
    <a class="section">Pad mouse</a>
  </p>
  <section class="producto__info">
    <article class="info__left">
      <div class="left__carousel">
        <div class="carousel__picker">
          <picture>
            <img
              src="https://falabella.scene7.com/is/image/FalabellaCO/55466201_1"
              alt="product"
              class="image--select"
            />
          </picture>
        </div>
        <div class="carousel__image">
          <picture>
            <img
              src="https://falabella.scene7.com/is/image/FalabellaCO/55466201_1"
              alt="product"
              class="image--select"
            />
          </picture>
        </div>
      </div>

      <div class="left__content">
        <ng-container [ngTemplateOutlet]="description"></ng-container>
      </div>
    </article>

    <article class="info__right">
      <button class="right__fav">
        <picture>
          <img src="../../../../../../assets/icons/heart.svg" alt="heart" />
        </picture>
      </button>
      <div class="info__data">
        <p class="right__sells">Nuevo | +2000 vendidos</p>
        <h3>Pad Mouse Diferentes Motivos</h3>
        <p class="right__calification">⭐⭐⭐⭐⭐ (183) opiniones</p>

        <div class="right__offer">
          <span class="right__text">MAS VENDIDO</span>
          <span class="right__legend">3° en Tenis para Deportes</span>
        </div>

        <h2>$<span>18.99</span></h2>
        <p class="right__taxes">en <span> 12x $2.8 sin interes </span></p>
        <p class="right__taxes__iva">IVA incluido</p>

        <div class="right__model">
          <p class="right__modelText">Modelo compatible:</p>
          <app-dropdown-model
            [ngStyle]="{ width: '100%' }"
          ></app-dropdown-model>
        </div>
      </div>
      <div class="right__btns">
        <button class="btns__buy">Comprar ahora</button>
        <button class="btns__cart">Agrega al carrito</button>
      </div>
    </article>
  </section>
</section>

<ng-template #description>
  <section class="description">
    <h2 class="description__title">Publicaciones del vendedor</h2>
    <div class="description__product">
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
    </div>
  </section>

  <section class="description">
    <h2 class="description__title description__title--margin">Publicaciones del vendedor</h2>
    <p class="description__paragraph description__paragraph--margin">TENIS PARA CORRER A DIARIO</p>
    <p class="description__paragraph">
      Cuando el running es tu deporte, no hay nada que te guste más que correr a
      diario. Acumula kilómetros con total comodidad con estos tenis adidas en
      tus pies. El exterior transpirable mantiene tus pies frescos y secos en
      los días de calor y la amortiguación ligera hace que cada paso sea más
      agradable.
    </p>
  </section>

  <section class="description">
    <h2 class="description__title description__title--margin">Opiniones sobre el producto</h2>
    <!-- <p class="description__paragraph description__paragraph--margin">TENIS PARA CORRER A DIARIO</p>
    <p class="description__paragraph">
      Cuando el running es tu deporte, no hay nada que te guste más que correr a
      diario. Acumula kilómetros con total comodidad con estos tenis adidas en
      tus pies. El exterior transpirable mantiene tus pies frescos y secos en
      los días de calor y la amortiguación ligera hace que cada paso sea más
      agradable.
    </p> -->
    <app-rating [stars]="5" [value]="2"></app-rating>
  </section>
</ng-template>
