<section class="product">
  <p class="product__nav">
    <a class="back">Volver</a> | <a class="section">Electronicos</a> >
    <a class="section">Pad mouse</a>
  </p>
  <section class="producto__info">
    <article class="info__left">
      <div class="left__carousel">
        <div class="carousel__picker">
          <picture>
            <img
              src="https://falabella.scene7.com/is/image/FalabellaCO/55466201_1"
              alt="product"
              class="image--select"
            />
          </picture>
        </div>
        <div class="carousel__image">
          <picture>
            <img
              src="https://falabella.scene7.com/is/image/FalabellaCO/55466201_1"
              alt="product"
              class="image--select"
            />
          </picture>
        </div>
      </div>

      <div class="left__content"></div>
    </article>

    <article class="info__right">
      <button class="right__fav">
        <picture>
          <img src="../../../../../../assets/icons/heart.svg" alt="heart" />
        </picture>
      </button>
      <div class="info__data">
        <p class="right__sells">Nuevo | +2000 vendidos</p>
        <h3>Pad Mouse Diferentes Motivos</h3>
        <p class="right__calification">⭐⭐⭐⭐⭐ (183) opiniones</p>

        <div class="right__offer">
          <span class="right__text">MAS VENDIDO</span>
          <span class="right__legend">3° en Tenis para Deportes</span>
        </div>

        <h2>$<span>18.99</span></h2>
        <p class="right__taxes">en <span> 12x $2.8 sin interes </span></p>
        <p class="right__taxes__iva">IVA incluido</p>

        <div class="right__model">
          <p class="right__modelText">Modelo compatible:</p>
        </div>
      </div>
      <div class="right__btns">
        <button class="btns__buy">Comprar ahora</button>
        <button class="btns__cart">Agrega al carrito</button>
      </div>
    </article>
  </section>
</section>
