.product {
  // background-color: rgba(102, 51, 153, 0.342);
  display: block;
  margin: 0 auto;
  padding: 2rem 0 0;
  width: 90%;

  .product__nav {
    font-size: 0.8rem;
    color: var(--grey-2);

    a {
      padding: 0 0.3rem 0 0.3rem;
      text-decoration: none;
      transition: var(--basic-transition);
    }

    a[class="section"] {
      color: var(--blue);

      &:hover {
        color: var(--blue-dark);
      }
    }

    a[class="back"] {
      color: var(--grey-2);

      &:hover {
        color: var(--blue);
      }
    }
  }
}

.producto__info {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  margin-top: 10px;
  padding: 10px;
}

.info__left {
  width: 100%;

  .left__carousel {
    display: grid;
    grid-template-columns: 1fr 6fr;

    .carousel__picker {
      display: block;
      margin: 0 auto;

      picture .image--select {
        width: 100%;
        height: 80px;
        cursor: pointer;

        &:hover {
          border: 2px solid var(--blue);
        }
      }
    }

    .carousel__image {
      picture .image--select {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }
  }
}

.info__right {
  position: relative;
  // background: rgb(0, 0, 0);
  width: 65%;
  padding: 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin: auto;

  .info__data {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    .right__calification,
    .right__taxes,
    .right__sells,
    .right__taxes__iva {
      color: var(--grey-2);
    }

    .right__sells {
      font-size: 0.8rem;
    }

    .right__calification,
    .right__taxes,
    .right__taxes__iva {
      font-size: 0.9rem;
    }

    .right__taxes span {
      color: var(--green);
    }

    .right__taxes__iva {
      color: var(--black);
      font: var(--body-14regula);
    }
  }

  .right__fav {
    position: absolute;
    right: 5px;
    top: 5px;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover picture img {
      filter: invert(34%) sepia(78%) saturate(7490%) hue-rotate(218deg)
        brightness(99%) contrast(110%);
    }
  }

  .right__offer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    .right__text {
      padding: 3px;
      background-color: var(--orange);
      border-radius: 4px;
      color: var(--white);
      font-size: var(--title-22ligth);
    }

    .right__legend {
      font: var(--body-14regular);
      color: var(--blue-dark);
    }
  }
  h2,
  h2 > span {
    color: var(--black);
  }

  .right__model {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .right__modelText {
      color: var(--black);
      font: var(--body-14regular);
    }
  }

  .right__btns {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    .btns__buy,
    .btns__cart {
      padding: 0.7rem;
      border-radius: 10px;
      border: none;
      font-weight: bold;
      cursor: pointer;
      transition: var(--basic-transition);
    }

    .btns__buy {
      background-color: var(--blue);
      color: var(--white);

      &:hover {
        background-color: var(--blue-dark);
      }
    }

    .btns__cart {
      background-color: var(--grey-4);
      color: var(--blue);

      &:hover {
        background-color: var(--blue-light);
      }
    }
  }
}
