.precart {
  width: 100%;
  height: 150px;
  background-color: var(--white);
  padding: 8px 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.divisor {
  border: 1px solid var(--grey-4);
  height: 85px;
  margin: auto;
}

.precart__product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.precart__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.precart__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.precart__offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.precart__img {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.precart__img--size {
  width: 50px;
  height: 50px;
}

.precart__title {
  font: var(--body-16bold);
  color: var(--green);
}

.precart__name {
  font: var(--body-14regular);
  color: var(--grey-2);
}

.precart__btn {
  width: 120px;
  padding: 10px 15px;
  border-radius: var(--border-radius-sm);
  background-color: var(--blue);
  color: var(--white);
  font: var(--body-14regular);
  border: none;
}
