<div class="precart" *ngIf="cartItemsSize !== 0">
  <div class="precart__product">
    <div class="precart__item">
      <img
        [src]="lastCartProduct.image"
        [alt]="lastCartProduct.title"
        class="precart__img"
      />
      <div class="precart__description">
        <p class="precart__title">Ultimo producto agregado</p>
        <p class="precart__name">{{ lastCartProduct.title }}</p>
      </div>
    </div>
    <div class="divisor"></div>
    <div class="precart__offer">
      <div class="precart__description">
        <p class="precart__name" *ngIf="cartItemsSize === 1">
          {{ cartItemsSize }} producto en tu carrito
          <strong>${{ totalPrice }}</strong>
        </p>
        <p class="precart__name" *ngIf="cartItemsSize > 1">
          {{ cartItemsSize }} productos en tu carrito
          <strong>${{ totalPrice }}</strong>
        </p>
        <p class="precart__title">!Envio gratis!</p>
      </div>
      <img
        [src]="lastCartProduct.image"
        [alt]="lastCartProduct.title"
        class="precart__img precart__img--size"
      />
    </div>
  </div>
  <button class="precart__btn" (click)="goToCart()">Ver Carrito</button>
</div>
