<div class="precart">
  <div class="precart__product">
    <div class="precart__item">
      <img
        src="https://falabella.scene7.com/is/image/FalabellaCO/55466201_1"
        alt="Product"
        class="precart__img"
      />
      <div class="precart__description">
        <p class="precart__title">Agregaste a tu carrito</p>
        <p class="precart__name">Protector 123</p>
      </div>
    </div>
    <div class="divisor"></div>
    <div class="precart__offer">
      <div class="precart__description">
        <p class="precart__name">
          1 producto en tu carrito <strong>$160</strong>
        </p>
        <p class="precart__title">!Envio gratis!</p>
      </div>
      <img
        src="https://falabella.scene7.com/is/image/FalabellaCO/55466201_1"
        alt="Product"
        class="precart__img precart__img--size"
      />
    </div>
  </div>
  <button class="precart__btn">Ver Carrito</button>
</div>
