.menu {
  width: 100%;
  height: 122px;
  background-color: var(--yellow);
  padding: 12px 40px;
  // overflow: hidden;
  position: relative;
  z-index: 9910;
}

.sup,
.list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 70px;
  margin: auto;
}

.sup__picture {
  text-align: left;
  width: 170px;
  height: 60px;

  .sup__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/* SEGUNDO NIVEL */

.list {
  margin-top: 6px;
}

.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 170px;

  .icon-tabler-map-pin {
    width: 32px;
    height: 32px;
  }
}

.location__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .location__legend {
    font: var(--body-14regular);
    color: var(--grey-2);
  }

  .location__btn {
    border: none;
    background-color: transparent;
    color: var(--black);
    font: var(--body-14regula);
    cursor: pointer;
  }
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 35px;
  list-style: none;

  .nav__category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    .icon-tabler-chevron-down {
      width: 20px;
    }
  }

  .nav__item {
    font: var(--body-14regular);
    cursor: pointer;

    .item__link {
      text-decoration: none;
      color: var(--grey-2);

      &:hover {
        color: var(--black);
      }
    }
  }
}

.cart__link {
  text-decoration: none;

  &:hover {
    span {
      color: var(--grey-2);
    }

    svg {
      color: var(--grey-2);
    }
  }

  .nav__shop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    border: none;
    background-color: transparent;

    .icon-tabler-shopping-cart {
      width: 20px;
    }
  }
}
