.card {
  width: 250px;
  height: 300px;
  overflow: hidden;
  border: 1px solid var(--grey-4);
  background-color: var(--white);
  border-radius: 6px;
  cursor: pointer;
}

.card__img {
  background-color: var(--white);
  width: 100%;
  height: 210px;
  object-fit: contain;
  border-bottom: 1px solid var(--grey-1);
}

.card__information {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.card__money {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card__price {
  color: var(--black);
  font: var(--title-22semi-bold);
  margin-right: 15px;
}

.card__cuota {
  color: var(--green);
  font: var(--body-14regular_u);
}

.card__total {
  font: var(--body-14regular_u);
}
