.review {
  display: grid;
  margin: 15px 5px;
  padding: 12px 20px;
  border-radius: 15px;
  gap: 1rem;

  .review__header {
    display: flex;

    .review__user {
      font-weight: var(--title-22ligth);
      padding-right: 5px;
    }

    .rate {
      display: inline-flex;
    }
  }

  .review__content {
    color: var(--grey-2);
    font-size: 1rem;
  }
}
