.container {
  margin: 2rem 5%;
  padding: 1rem;
  border-radius: 10px;
  background: var(--grey-4);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  height: calc(100vh - 170px);
  background-color: var(--white);
  overflow: hidden;
}

.cart {
  display: grid;
  grid-template-columns: 3fr 1fr;

  .cart__list {
    height: calc(100vh - 230px);
    overflow-y: scroll;

    & {
      scrollbar-width: auto;
      scrollbar-color: var(--blue) var(--white);
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 30px;
    }

    &::-webkit-scrollbar-track {
      background: var(--white);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--blue);
      border-radius: 10px;
      border: 3px solid var(--white);
    }
  }

  .cart__resume {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 2%;

    .resume_price {
      align-self: flex-end;
      color: var(--black);
    }

    .resume__info {
      display: grid;
      gap: 2rem;

      .info__ship {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        color: var(--grey-2);
      }

      .info__total {
        display: grid;
        gap: 0.5rem;
        padding-top: 0.5rem;
        border-top: 2px solid var(--grey-3);

        .total__price {
          display: flex;
          justify-content: space-between;
          font-size: 0.9rem;

          span {
            color: var(--black);
            font-weight: 900;
          }
        }

        .total__btn {
          cursor: pointer;
          padding: 0.5rem;
          border-radius: 8px;
          border: none;
          background-color: var(--blue);
          color: var(--white);
          transition: var(--basic-transition);

          &:hover {
            color: var(--blue);
            background-color: var(--blue-light);
          }
        }
      }
    }
  }
}
