<article class="rating">
  <div class="rating__header">
    <h2 class="header__rate">
      {{ generalRating }}<span class="rate__total">/5</span>
    </h2>
    <div>
      <span *ngFor="let rate of rating">⭐</span>
    </div>
  </div>
  <!-- here the progress bars -->
  <div class="bars">
    <div class="bars__rate" *ngFor="let barRate of reviewRateGraph">
      <mat-progress-bar
        mode="determinate"
        [value]="barRate.percentage"
      ></mat-progress-bar>
      <span>{{ barRate.rateNumber }}</span>
    </div>
  </div>
</article>
