<form [formGroup]="form" (ngSubmit)="submit()" class="form">
  <mat-form-field class="example-full-width">
    <mat-label>Escribre tu nombre</mat-label>
    <input
      matInput
      minlength="5"
      maxlength="20"
      placeholder="nombre"
      value=""
      formControlName="name"
      required
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Escribre tu correo</mat-label>
    <input
      matInput
      placeholder="correo"
      value=""
      formControlName="email"
      required
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Motivo de tu contacto</mat-label>
    <textarea
      matInput
      minlength="20"
      maxlength="400"
      placeholder="motivo"
      formControlName="subject"
      class="text"
      required
    ></textarea>
  </mat-form-field>
  <input type="submit" value="Enviar" />
</form>
